<% include partials/header %>

<div class="container">
    <div class="aboutHeader">
        <h1>Movie Mania - Keep Track of Your Movies</h1>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-6 col-sm-6 aboutText">
            <p>The Movie Mania App is a simple web application in which you can keep track of your movies. These are not the movies that you've made. If you're a director, a producer, and editor, or someone involved in the movie making process, this is NOT the place for you to be. But if you are a teenager, a young man, an employee, a milionaire, a bilionaire, a refugee, or whatever else that you are, and you're looking for a place to keep track of the movies that you've watched or would like to watch, then don't close thi window; EVER!!!</p>
            <p>After signing up on the website, you can start adding movies. When adding movies you can add the title (we can't let you go without entering a title; what kind of movie doesn't have a title!!!), an image url of the movie poster or your favorite scene, a description of the movie - which can either be your idea about it, some critic, or a simple plot, and let's not forget the most important part: The Watched Checkbox. If you've watched the movie, then click it. If you haven't , leace it blank.</p>
            <p>Every time you add a movie, it goes under either the watched category or to watch. By opening up each movie, you can add notes. For example, your favorite scene, or the name of the person who recomended it to you, or just to simply say it sucks.</p>
            <p>If you like this application and found it useful, then recommend it to your friends. IF you like it even more, then send us a thank you email. If you LOVE it, then call us and we can have a chat on how to make it even better. Can't wait to hear from you.</p>
            <p>If we're ever going to keep working on this, the following options are the first things that will happen:</p>
            <ul>
                <li>Sign Up Confirm Password Field</li>
                <li>User Profile Page - and related functions like adding e-mail and changing password</li>
                <li>A Live Image Preview when adding a movie</li>
                <li></li>
            </ul>
            <p>- The Movie Mania Group</p>
        </div>
        <div style="background: url(<%= movie %>); background-repeat: no-repeat; background-position: 50% 50%; background-size: contain;" class="col-lg-3 col-md-6 col-sm-6 aboutImgDiv"></div>
    </div>
</div>

<% include partials/footer %>