<% include partials/header %>

<div class="container">
    <div class="jumbotron customJumbotron">
        <h2>The Movie-Mania App</h2>
        <p>Kepp track of your movies!</p>
        <a class="btn btn-lg btn-info" href="/movies/new">Add One</a>
    </div>
</div>

<div class="container">
    <div class="homeSecondNav">
        <button class="watchedBtn" id="activatedDisplayBtn">Watched</button>
        <button class="unwatchedBtn">To Watch</button>
    </div>
</div>

<div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="thumbnail">
                <h1>Add a Movie</h1>
                <img src="http://www.frankmio.com/testsiteM/images/moviemania_1.jpg">
                <div class="caption">
                    <p>Add a Movie to your collection NOW!</p>
                </div>
                <a class="btn btn-md btn-success" href="/movies/new">Add one</a>
                <br>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>